.home{
    .homeback{
        background-image: linear-gradient( 135deg, #ff9a9e  10%, #F6416C 100%);
        height: 100vh;
        width: 100vw;
    }
    img{
        // opacity: 0.9;
        filter: brightness(0.5);
        height: 100vh;
        width: 100vw;
    }
    .homeText{
        color: white;
        position:absolute ;
        top:50vh;
        left:10vw;
        z-index: 200;
    }
}
